# Ignore node_modules to avoid unnecessary copying
node_modules
npm-debug.log

# Ignore docker specific stuffs
Dockerfile*
docker-compose*
.dockerignore

# Ignore some git stuff
.git
.gitignore

# Ignore docs
README.md
LICENSE

# Ignore build directory for development containers
build

# Ignore configuration and dependency files not required for the build
.DS_Store
.env
.env.local
npm-debug.log
yarn-error.log

# Ignore editor and system-specific files
*.swp
*.swo
.vscode
.idea
*.iml

# Ignore Docker-specific files
docker-compose.yml

# Ignore hugo stuff
# TODO: delete me once this stuff is removed.
static
themes
layouts
content
archetypes
public
resources
