:root {
  /* --background: #ffffff; */
  --background: #fef0f1;
  --foreground: #595959;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
}

a {
  /* Bootstrap's link-dark by default*/
  color: RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important
}